<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 404-NOT FOUND
    link(rel="stylesheet", href="/css/404.css")
  body
    .content
      img(src="/images/oops404.gif", width="600", height="422")
      h1 惊不惊喜？意不意外？
      a(href="/") 返回首页